services:
  emqx:
    image: emqx/emqx:latest
    container_name: emqx_broker
    restart: always
    ports:
      - "1883:1883" # MQTT estándar
      - "8883:8883" # MQTTS (Cifrado TLS/SSL)
      - "8081:8080" # Dashboard Web

    environment:
      - "EMQX_DASHBOARD__DEFAULT_USER__PASSWORD=${EMQX_DASHBOARD_PASS}"
      # Configuración TLS/SSL
      - "EMQX_LISTENERS__SSL__DEFAULT__BIND=8883"
      - "EMQX_LISTENERS__SSL__DEFAULT__KEYFILE=/opt/emqx/etc/certs/key.pem"
      - "EMQX_LISTENERS__SSL__DEFAULT__CERTFILE=/opt/emqx/etc/certs/cert.pem"

    volumes:
      - /var/lib/emqx/data:/opt/emqx/data
      - /etc/emqx/config:/opt/emqx/etc
      - /var/log/emqx:/opt/emqx/log
      # - /etc/emqx/certs:/opt/emqx/etc/certs

networks:
  default:
    driver: bridge
